.logo-text {
  background: linear-gradient(45deg, #FF0099,#FF00FF,#FFFF00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.tab:hover{
  color: rgb(255, 255, 255, 0.7);
}